<!DOCTYPE html>
<html
	lang="en"
	dir="ltr"
	data-nav-layout="vertical"
	data-theme-mode="light"
	data-header-styles="light"
	data-menu-styles="light"
	data-toggled="close"
>
	<head>
		<!-- Meta Data -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Wialon Dashboard</title>
		<meta
			name="Description"
			content="Bootstrap Responsive Admin Web Dashboard HTML5 Template"
		/>
		<meta name="Author" content="Felix" />
		<meta
			name="keywords"
			content="admin dashboard,dashboard design htmlbootstrap admin template,html admin panel,admin dashboard html,admin panel html template,bootstrap dashboard,html admin template,html dashboard,html admin dashboard template,bootstrap dashboard template,dashboard html template,bootstrap admin panel,dashboard admin bootstrap,bootstrap admin dashboard"
		/>

		<script
			type="text/javascript"
			src="//code.jquery.com/jquery-latest.min.js"
		></script>
		<script
			type="text/javascript"
			src="//hst-api.wialon.com/wsdk/script/wialon.js"
		></script>

		<!-- Favicon -->
		<link
			rel="icon"
			href="../assets/images/brand-logos/favicon.ico"
			type="image/x-icon"
		/>

		<!-- Choices JS -->
		<script src="../assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

		<!-- Main Theme Js -->
		<script src="../assets/js/main.js"></script>

		<!-- Bootstrap Css -->
		<link
			id="style"
			href="../assets/libs/bootstrap/css/bootstrap.min.css"
			rel="stylesheet"
		/>

		<!-- Style Css -->
		<link href="../assets/css/styles.min.css" rel="stylesheet" />

		<!-- Icons Css -->
		<link href="../assets/css/icons.css" rel="stylesheet" />

		<!-- Node Waves Css -->
		<link href="../assets/libs/node-waves/waves.min.css" rel="stylesheet" />

		<!-- Simplebar Css -->
		<link href="../assets/libs/simplebar/simplebar.min.css" rel="stylesheet" />

		<!-- Color Picker Css -->
		<!-- <link rel="stylesheet" href="../assets/libs/flatpickr/flatpickr.min.css" /> -->
		<link
			rel="stylesheet"
			href="../assets/libs/@simonwep/pickr/themes/nano.min.css"
		/>

		<!-- Choices Css -->
		<link
			rel="stylesheet"
			href="../assets/libs/choices.js/public/assets/styles/choices.min.css"
		/>
	</head>
</html>
